#toggle {
  height: fit-content;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.toggle {
  // Remove input checkbox
  &__input {
    visibility: hidden;
    width: 0;
    height: 0;

    // When checked
    &:checked + .toggle__label {
      background: dodgerblue;

      .toggle__ball {
        transform: translateX(1.65rem);
      }
    }
  }

  &__label {
    position: relative;
    height: 1.75rem;
    width: 3.35rem;
    padding: 0.125rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 3.25rem;
    background-color: gainsboro;
    cursor: pointer;
    transform: scale(1.25);
  }

  &__ball {
    background-color: #fefefe;
    border-radius: 50%;
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    transform: translateX(0rem);
    transition: transform 0.2s linear;
  }
}
