body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #1e1e1e;
}

* {
  box-sizing: border-box;
}

/* Dark Mode */
body.dark-mode {
  color: #fafafa;
  background-color: #1e1e1e;
  filter: invert(100%) hue-rotate(180deg);
}

/* Reverse colors for buttons */
body.dark-mode button[class*="Button"],
body.dark-mode img[class*="image"] {
  filter: invert(100%) hue-rotate(180deg);
}
